@font-face {
  font-family: "AppleSDGothicNeoB";
  font-weight: normal;
  src: url("../fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

body {
  font-family:'AppleSDGothicNeoB', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

.nav {
  display: flex;
}

.nav a {
  margin: 0 15px;
  margin-left: 100px;
  margin-right: -80px;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #b388eb;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.banner-image {
  width: 50%;
  height: 400px;
  margin-right: 100px;
}

.banner-text {
  max-width: 50%;
  text-align: left;
  padding-right: 20px;
  margin-left: 100px;
}

.banner-text h1 {
  font-size: 2em;
  margin: 0;
}

.banner-text h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header .user-info {
  display: flex;
  align-items: center;
  position: relative;
}

.header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header .user-info .username {
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.dropdown-menu a {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.login-link a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-weight: bold;
  margin: 3px;
}

.login-link a:hover {
  background-color: #0056b3;
}
