.mypage-container {
  display: flex;
}

.sidebar-mypage {
  width: 250px;
  padding: 20px;
  background-color: #f7f7f7;
}

.user-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar-menu {
  margin-top: 20px;
}

.sidebar-menu p {
  cursor: pointer;
  margin: 10px 0;
}

.content {
  flex: 1;
  padding: 20px;
}

.content-section {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.vtuber-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.vtuber-card-container {
  position: relative;
}

.vtuber-card {
  display: flex;
  width: 301px;
  height: 68px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  overflow: hidden;
  align-items: center;
}

.vtuber-card:hover {
  background-color: #eee;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vtuber-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.vtuber-info {
  display: flex;
  margin-bottom: 50px;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.vtuber-info h2 {
  font-size: 16px;
  margin: 0;
  color: #000;
  font-weight: bold;
}

.vtuber-info p {
  margin: 2px 0;
  font-size: 10px;
  color: #666;
}

.vtuber-info .vttags {
  display: flex;
  flex-wrap: wrap;
}

.vtuber-info .tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 14px;
  font-size: 12px;
}

.vt_female {
  background-color: #FFC0CB;
  color: #F560DD;
}

.vt_male {
  background-color: rgba(96, 111, 245, 0.5);
  color: #606FF5;
}

.vt_corporate {
  background-color: #D1F0D1;
  color: #1DC387;
}

.vt_individual {
  background-color: rgba(69, 118, 163, 0.5);
  color: #4576A3;
}

.vt-follow-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.vt-follow-button svg {
  width: 24px;
  height: 24px;
  fill: #ccc;
}

.vt-follow-button.active svg {
  fill: #f44336;
}
